.userProfile-details{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.userProfile-details > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;
    color: white;
}

.userProfile-details > div > button {
    color: white;
    background-color: transparent;
    border: none;
}