.home {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 400px;
    height: 100vh;
  }
  
  .homeleft {
    background: black;
    color: white;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vmax 1.5vmax;
    margin-left: 25vmax;
    box-sizing: border-box;
  }
  .homeright {
    background-color: var(--background-primary);
    color: white;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 9px;
    margin-top: 1.6rem;
    margin-right: 2rem;
    height: 87.5%;
    padding: 1rem;
  }

  .homeright-heading{
    color: var(--socials-secondary);
    margin-bottom: 1rem;
  }
  
  .homeUser {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s;
    /* border-bottom: .5px solid rgb(34, 34, 34); */
    border-radius: 40px;
    /* border: 1px solid white; */
    margin-bottom: 1rem;
  }
  .homeUser > img {
    height: 3vmax;
    width: 3vmax;
    margin: 1vmax;
    border-radius: 100%;
    border: 2px solid var(--socials-secondary);
  }

  .Userdetails {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.507);
    transition: all 0.5s;
  }
  .Userdetails > img {
    height: 3vmax;
    width: 3vmax;
    margin: 1vmax;
    border-radius: 100%;
    border: 3px solid rgb(255, 201, 201);
  }
  
  .homeUser:hover {
    transform: translateY(-10px);
    background-color: rgb(0, 0, 0);
  }
  
  @media screen and (max-width: 600px) {
    .home {
      grid-template-columns: 2fr 1fr;
    }
  
    .homeleft {
      padding: 0;
      min-height: 90vh;
    }
  }